<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758475580274-anotdr836oenepavmj3edj7c8ovtan6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758475580274-anotdr836oenepavmj3edj7c8ovtan6q</string>
	<key>API_KEY</key>
	<string>AIzaSyDFwR6AZGVv43GLOvj3Qn7YdN_3MoOQXX0</string>
	<key>GCM_SENDER_ID</key>
	<string>758475580274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashtrip</string>
	<key>PROJECT_ID</key>
	<string>flashtrip-43016</string>
	<key>STORAGE_BUCKET</key>
	<string>flashtrip-43016.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758475580274:ios:b013dd8897a8c38680b3eb</string>
</dict>
</plist>